@import "tailwindcss";

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slideLeft {
  animation: slideLeft 20s linear infinite;
}
